@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wiki.spn.tw.trendnet.org"), domain("coretech-backend-dev.tw.trendnet.org") {
    #bodyContent {
        font-size: 12pt !important;
    }
    pre {
        padding: 0.5em !important;
        font-size: 11pt !important;
        overflow: auto !important;
    }
    .source-java,
    .source-bash,
    .source-ini,
    .source-sql,
    .source-php,
    .mw-genshi {
        padding: 0 !important;
    }
    
    img {
        max-width: 90%;
        height: auto;
    }
    
    .toc {
        float: right;
        margin-left: 1em !important;
    }
    .toc ul {
        font-size: .9em !important;
    }
    .tocnumber:after {
        content: ":";
    }
    
    /* making toc entries more easy to be hovered. */
    .toc a span.tocnumber {
        float: left;
        margin-right: .2em;
    }
    .toc a span.toctext {
        display: block;
    }
    
    /* auto-hide toc */
	/*
    .toc {
        display: block;
        width: 8%;
        overflow: hidden;
    }
    .toc:hover {
        width: auto;
    }
	*/
}

