@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("adcteamtrack.trend.com.tw") {
	/* item list */
	td.listField3 {
		font-size: 16px !important;
	}
	
	/* item detail */
	td.ttFieldName {
		font-weight: normal !important;
	}
	td.listField {
		color: gray !important;
	}
	span.F306,    /* item id */
	span.F307,    /* title */
	span.F672V575 /* product name */,
	span.F327V481 /* priority */,
	span.F332,    /* defect found in build */
	span.F308     /* description */
	{
		color: black !important;
		font-weight: bold !important;
		/*
		font-size: 16px !important;
		*/
	}

	/* Report Table */

	/* Enlarge the table so it use more space to show the data. */
	table.rptTabulary {
		width: auto !important;
		margin-left: 20px !important;
		margin-right: 20px !important;
	}
	/* Enlarge the font so we can read it easier. */
	th.rptTabHeader,
	th.rptTabSubHeader,
	td.rptTabData {
		font-size: 16px !important;
		padding: 0.2em;
	}
	/* Gray out those no link cells since they carry no information. */
	td.rptTabData {
		color: gray !important;
	}
}


